
.about-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
}
.lineOne::after {
    content: '';
    display: block;
    width: 75px;
    height: 4px;
    background-color: white;
    margin: 1rem auto 1rem auto;
}
.lineTwo::after {
    content: '';
    display: block;
    width: 75px;
    height: 4px;
    background-color: white;
    margin: 1rem auto 1rem auto;
}
.about-card {
    max-width: 1100px;
}

.about-card h1 {
    margin-bottom: 0.5rem;
}