.portfolioTitle .lineOne::after,
.portfolioTitle .lineTwo::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #2c3E50;
    margin: 1rem auto 1rem auto;
}

.portfolioTitle h2 {
    color: #2c3E50;
}

.portfolio-section {
    background-color: white;
    margin-top: 15px;
    min-height: auto;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}