.navbar {
  background-color: #2c3e50 !important;
  /* height: 130px !important; */
}


.nav-link {
  color: #000;
  padding: 0.35rem 0.75rem;
  margin-left: 12px;
  transition: background-color 0.15s ease;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.nav-link.active-navlink {
  background-color: #1ABC9C;
  width: fit-content;
  border-radius: 10px;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 0.35rem;
  font-size: 18px !important;
  font-weight: 600 !important;
}